[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
streamlit = "*"
notebook = "*"
scrapy = "*"
spacy = "*"
textblob = "*"
wordcloud = "*"
tqdm = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
scraper-helper = "*"
scrapy-helper = "*"
scrapy-playwright = "*"

[dev-packages]

[requires]
python_version = "3.9"
